{% extends "bootstrap/base.html" %}

{% block title %}
Demo App
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Syndicate Bank</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <h1>Happy Internet Banking!</h1>
        <p class="lead">Welcome to Syndicate bank Internet Banking Portal.<br> We hope you have a great, safe and hassle-free Internet Banking Experience!</p>
        <p class="lead">Syndicate Bank was established in 1925 in Udupi,  in coastal Karnataka as Canara Industrial and Banking Syndicate Limited, with a capital of Rs.8000/- by three visionaries – Sri Upendra Ananth Pai, a businessman, Sri Vaman Kudva, an engineer and Dr.T M A Pai, a physician – who shared a strong commitment to social welfare. Their objective was primarily to extend financial assistance to the local weavers who were crippled by a crisis in the handloom industry through mobilising small savings from the community. The bank collected as low as 2 annas daily at the doorsteps of the depositors through its agents under its Pigmy Deposit Scheme started in 1928. Thanks to this, Syndicate Bank was known as “Small man’s big bank”.</p>
        <p class="lead">The bank was renamed as the Syndicate Bank Limited in 1954; also, the head office moved to Manipal. In 1969, the bank was nationalized along with 13 other banks</p>
      </div>

    </div><!-- /.container -->
{% endblock %}
